<div class="navbar-container">
  <div class="logo">
    <img src="/img/logo-sinergiarh.png" alt="Logo" />
  </div>
  <div class="navbar-contact-container">
    <div class="contact-container">
      <div class="contact-left">
        <a
          href="mailto:contato@sinergiarh.com.br?subject=Contato via Site&body=Olá,%0A%0AGostaria de mais informações sobre..."
        >
          <div class="navbar-email">
            <div class="email-icon">
              <img src="/icons-white/mail-fill.png" alt="Email Icon" />
            </div>
            <a>contato&#64;sinergiath.com</a>
          </div>
        </a>
        <a href="tel:+5511991234567">
          <div class="navbar-phone">
            <div class="phone-icon">
              <img src="/icons-white/phone-fill.png" alt="Phone Icon" />
            </div>
            <a>(11) 99123-4567</a>
          </div>
        </a>
      </div>
      <div class="contact-right">
        <div class="navbar-social">
          <div class="facebook-icon">
            <a href="http://www.facebook.com" target="_blank"
              ><img src="/icons-white/facebook-fill.png" alt="Facebook Icon"
            /></a>
          </div>
          <div class="instagram-icon">
            <a href="http://www.instagram.com" target="_blank">
              <img src="/icons-white/instagram-fill.png" alt="Instagram Icon" />
            </a>
          </div>
          <div class="linkedin-icon">
            <a href="http://www.linkedin.com" target="_blank">
              <img src="/icons-white/linkedin-fill.png" alt="Linkedin Icon" />
            </a>
          </div>
          <div class="twiter-icon">
            <a href="http://www.twitter.com" target="_blank">
              <img src="/icons-white/twitter-fill.png" alt="Twitter Icon" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar-menu-container">
    <div class="menu-container">
      <div class="menu-left">
        <div class="nav-list-left">
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#services">Serviços</a></li>
          </ul>
        </div>
      </div>
      <div class="menu-right">
        <div class="nav-list-right">
          <ul>
            <li><a href="#performance">Atuação</a></li>
            <li><a class="contact-link" href="#contact">Contato</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="menu-container-mobile" id="menu-container">
      <div class="menu-icon" id="menu-icon">
        <img src="/icons/menu-line.png" alt="Menu" (click)="toggleMenu()" />
      </div>
      <div class="menu-left-mobile">
        <div class="nav-list-left-mobile">
          <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="#services">Serviços</a></li>
            <li><a href="#performance">Atuação</a></li>
          </ul>
        </div>
      </div>
      <div class="menu-right-mobile">
        <div class="nav-list-right-mobile">
          <ul>
            <li>
              <a href="#contact"
                ><img src="/icons-white/form-fill.png" alt=""
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
