<div class="job-service-container">
  <div class="job-service-content-container">
    <div class="job-service-content">
      <div class="job-service-title">
        <h2>Serviços</h2>
      </div>
      <div class="text-image-container">
        <div class="text-content">
          <ul>
            <li>
              <h2>Processos Seletivos</h2>
              <p>
                Conduzimos processos de Recrutamento e Seleção de talentos para
                diversas áreas e níveis hierárquicos.
              </p>
            </li>
            <li>
              <h2>Implantação de Cultura de RH</h2>
              <p>
                Ajudamos a estabelecer e fortalecer a cultura organizacional,
                alinhando-a aos objetivos estratégicos da empresa.
              </p>
            </li>
            <li>
              <h2>Gestão de Cargos e Salários</h2>
              <p>
                Desenvolvemos e implementamos planos de cargos e salários,
                garantindo equidade e competitividade no mercado.
              </p>
            </li>
            <li>
              <h2>Desenvolvimento Organizacional</h2>
              <p>
                Promovemos iniciativas que visam o crescimento sustentável da
                organização, melhorando processos e estruturas.
              </p>
            </li>
            <li>
              <h2>Endomarketing</h2>
              <p>
                Criamos estratégias de comunicação interna para engajar e
                motivar colaboradores.
              </p>
            </li>
            <li>
              <h2>Treinamentos</h2>
              <p>
                Oferecemos programas de capacitação e desenvolvimento
                profissional adaptados às necessidades específicas de cada
                empresa.
              </p>
            </li>
            <li>
              <h2>Desenvolvimento de Gestores</h2>
              <p>
                Fornecemos coaching e mentoria para o desenvolvimento de
                habilidades de liderança e gestão.
              </p>
            </li>
            <li>
              <h2>Departamento Pessoal</h2>
              <p>
                Gerenciamos atividades de administração de pessoal, incluindo
                folha de pagamento, benefícios e conformidade legal.
              </p>
            </li>
            <li>
              <h2>Gestão Estratégica</h2>
              <p>
                Alinhamos as práticas de recursos humanos aos objetivos
                estratégicos da empresa, promovendo a eficiência e o crescimento
                organizacional.
              </p>
            </li>
            <li>
              <h2>Terceirização de Mão de Obra Temporária e Efetiva</h2>
              <p>
                Oferecemos soluções flexíveis e seguras para a contratação de
                profissionais temporários e permanentes, ajustando-se às
                demandas específicas de cada cliente.
              </p>
            </li>
          </ul>
        </div>
        <!--Text Content-->
        <div class="image-content">
          <img src="https://i.postimg.cc/8C1VGHBJ/model-1.png" alt="" />
        </div>
        <!--
      </div>
      <!--Text Image Container-->
      </div>
      <!--Job Service Content-->
    </div>
    <!--Job Service Content Container-->
  </div>
  <!--Job Service Container-->
</div>
